* { margin: 0; padding: 0;}

#left_menu_acc .active
{
	/*background: url(../images/right.png) no-repeat 5px center;*/
	color: #4A8CFF;
	text-decoration: underline;
}

#left_menu_acc .actived
{
	/*background: url(../images/right.png) no-repeat 5px center;*/
	/*color: #4A8CFF;*/
	text-decoration: underline;
}

#left_menu_acc dl
{
	width: 194px;
	text-align: left;
	padding: 5px;
}

#left_menu_acc dt
{
	/*background:  url(../images/down.png) no-repeat 5px center;*/
	/*border-bottom: 1px solid white;*/
	font-size: 14px;
	padding: 5px 0px;
}

#left_menu_acc dt a
{
	color: #084252;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	padding: 0px 3px; /*padding: 0px 18px;*//*padding danh muc chinh voi le trai*/
}

#left_menu_acc dd a
{
	color: black;
	font-size: 13px;
	text-decoration: none;
	padding: 5px 0px 5px 5px;
	text-align: left;
}

#left_menu_acc dt a:hover
{
	color: #107384;
}

#left_menu_acc ul
{
	list-style: none;
	padding: 5px 0px 5px 0px;
	text-align: left;
}

#left_menu_acc ul a:hover
{
	color: #999999;
}

#left_menu_acc ul li
{
	list-style: none;
	padding-left: 5px;
	padding-bottom: 1px;
	/*margin-left: -30px;*/
}

.post
{
}

.post .title
{
	margin: 0;
}

.post .meta
{
	margin: 0;
	padding-bottom: 5px;
	line-height: normal;
	font-family: helvetica, arial, sans-serif;
	color: #BABABA;
}

.post .meta a
{
	color: #BABABA;
}

.post .entry
{
	margin-bottom: 5px;
	padding-bottom: 5px;
}