
USE TMDT_Project_Database
GO
/*---------------Category's Data Sample-------------------------*/
INSERT INTO [dbo].[Category]([CategoryName],CategoryImage,[Description])
VALUES (N'Máy văn phòng','Canon ImageCLASS MF4350D.png',N'danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong')

INSERT INTO [dbo].[Category]([CategoryName],CategoryImage,[Description])
VALUES (N'Máy văn phòng','Canon ImageCLASS MF4350D.png',N'danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong - danh muc thiet bi van phong')

INSERT INTO [dbo].[Category]([CategoryName],CategoryImage,[Description])
VALUES (N'Hộp mực máy in','epson-pigment-inktec.jpg',N'danh muc hop muc may in - danh muc hop muc may in - danh muc hop muc may in')


--*select * from Category 
--delete from Category
GO
/*---------------Sub Category's Data Sample-------------------------*/
--chu y khi insert du lieu bang Category da tao sau do xoa di thi ID cua Category bi thay doi ko bat dau tu 1
INSERT INTO [dbo].[SubCategory]([CategoryId],[SubCategoryName],SubCategoryImage,[Description]) 
VALUES(1,N'Máy photocopy','Canon ImageCLASS MF4350D.png',N'Danh muc con cua May van phong-cac san pham may photocopy')

INSERT INTO [dbo].[SubCategory]([CategoryId],[SubCategoryName],SubCategoryImage,[Description]) 
VALUES(1,N'Máy fax','epson-pigment-inktec.jpg',N'Danh muc con cua May van phong-cac san pham may Fax')

INSERT INTO [dbo].[SubCategory]([CategoryId],[SubCategoryName],SubCategoryImage,[Description]) 
VALUES(2,N'Mực in','gur1323833816.jpg',N'Danh muc con cua Hop muc may in-cac san pham hop muc may in')


GO
/*---------------Product's Data Sample-------------------------*/


--


--

--

--
--

--

--

--

--

--


-- Cac san pham thuoc Category MayVan Phong->May Fax(SubCategory)

--

--
--

-- Cac san pham thuoc Category Hộp mực máy in->Mực in(SubCategory)

--

--

-- Cac san pham thuoc Category Hộp mực máy in->Khay Mực in(SubCategory)


--

--

--




/*---------------ProductImage Sample-------------------------*/

INSERT INTO [dbo].[ProductImage](ProductId,ImageUrl,ImageIndex)VALUES(1,N'Toshiba e-Studio 450.png',1)
INSERT INTO [dbo].[ProductImage](ProductId,ImageUrl,ImageIndex)VALUES(1,N'oshibae-STUDIO205L.png',2)
INSERT INTO [dbo].[ProductImage](ProductId,ImageUrl,ImageIndex)VALUES(1,N'CanonMFD520.png',3)



























--------------------------------------------------------------------------------------------------------
INSERT INTO [dbo].[Advertise](AdvertiseName,AdvertiseLink,ImageURL,AdvertisePostion)
VALUES('Adverties left','http://vatgia.com/hanoitechpro','bann1.jpg', 1)

INSERT INTO [dbo].[Advertise](AdvertiseName,AdvertiseLink,ImageURL,AdvertisePostion)
VALUES('Adverties left','http://vatgia.com/hanoitechpro','bann2.jpg', 1)

INSERT INTO [dbo].[Advertise](AdvertiseName,AdvertiseLink,ImageURL,AdvertisePostion)
VALUES('Adverties left','http://vatgia.com/hanoitechpro','bann1.jpg', 1)




---------------------------------------------------------------------------

INSERT INTO [dbo].[FAQs]([Question],[Answer],[FaqIndex])
VALUES('Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ','   
 Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ',1)

INSERT INTO [dbo].[FAQs]([Question],[Answer],[FaqIndex])
VALUES('Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ','   
 Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ',2)

INSERT INTO [dbo].[FAQs]([Question],[Answer],[FaqIndex])
VALUES('Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ','   
 Sửa chữa, đổ mực máy in, máy fax, máy photocopy, máy tính, máy văn phòng tại nhà, 
tại cơ quan Điện thoại: 04-66732220 / Hotline: 0913583121 - 80.000 VNĐ',3)